
.container
{
	box-shadow: 1px 1px 1px 1px ;
	border: 10px;
	background-color: white;
	display: inline;
	margin: 50% 50% 50% 50%;
}




  body {
  margin: 100px 100px 100px 100px ;
  color: white;
  font-family: helvetica, arial, sans-serif;
  background-image:url(img/bg.jpg);	
}
.columns {
			-webkit-columns: 3;
			-moz-columns: 3;
			columns: 3;
}
		
p {
			color: #333;
			padding: 10px;
			margin: 0;
			background: beige;
}

 


