* {

	margin: 0px;

}

​

div { /*pas d'espace entre les block*/

	display: inline-block;

}

​

.Sous_titre2 { /*pour le sous-titre*/

	font-size: 22px;

	color: #7E6F6F;

	margin-top: 0px;

}

​

.block2 {

	background-color: rgba(238,238,238,0.8);

	width: 100%;

	height: 610px;

	margin: 0px;

}

​

.main2 {

	width: 1000px;

	height: 610px;

	text-align: center;

	margin-left: 12%;

}

​

.main2 h2 {

	color: #2B3F48;

	font-size: 55px;

	line-height: 150px;

}

​

.Texte2 { /* gere le texte en dessous des sous titres*/

	color: #7E6F6F;

	font-size: 17px;
		line-height: 30px;

	margin-top: 70px;

}

​

.button {

    background-color: #27AE61;

    border:none;

    color: white;

    padding: 20px 32px;

    text-align: center;

    text-decoration: none;

    display:inline-block;

    cursor: pointer;

    letter-spacing: 4px;    

    border-radius: 10px;

    font-size:17px;

    margin: 60px 0 60px 0;

}

​

.main2 a {

	text-decoration: none;

	color: white;

}

​

.block3 {

	background-color: #27AE61;

	width: 100%;

	height: 610px;

	margin: 0px;

}

​

.main3 {

	width: 1000px;

	height: 610px;

	text-align: center;

	margin-left: 12%;

}
.main3 h2 {

	color: white;

	font-size: 55px;

	line-height: 150px;

}

​

.Sous_titre3{ /*pour le sous-titre*/

	font-size: 22px;

	color: #C9E3A1;

	margin-top: 0px;

}

​

.Texte3 { /* gere le texte en dessous des sous titres*/

	color: #C9E3A1;

	font-size: 17px;

	line-height: 30px;

	margin-top: 70px;

}

​

.button1 {

	background-color: white;

	border:none;

 	color: #27AE61;

        padding: 20px 32px;

        text-align: center;

        text-decoration: none;

        display:inline-block;

        cursor: pointer;

        letter-spacing: 4px;    

        border-radius: 10px;

        font-size:17px;

        margin: 60px 0 60px 0;

}

​

.main3 a {

	text-decoration: none;

	color: #27AE61;

}

​

footer {


		background-color: rgba(238,238,238,0.8);

	width: 100%;

	height: 200px;

	display: inline-block;

}