html {
	width: 1400px;
	height: 1010px;
	background: url("img/bg.jpg");
}

header {
	padding-left: 65px;
	font-size: 15px;
	width: 1020px;
	height: 0px;
	background: url("img/bg.jpg");



}

#currentPage a {
	color: #CFA205;
}

#headerTop {
	background-color: #000000;
	color: #CFA205;
	text-align: center;
	height: 320px;
	margin-left: -121px;
}

#headerSocial {

	height: 69.5px;
	margin-top: -6px;
	background-color: #000;
	margin-left: -121px;
}

#headerSubTitle {
	font-family: "Bitter";
	font-weight: bold;
	height: 60px;
	color: #CFA205;
}

#topMenu {
	font-family: "Josefin Sans";
	list-style: none;
	padding-top: 20px;
	padding-left: 120px;
	padding-right: 120px;
	height: 40px;
	margin-left: 121px;
}

.topMenuEntry a {
	float: left;
	text-decoration: none;
	color: #FFFFFF;
	padding-left: 30px;
	padding-right: 30px;
}

.topMenuEntry a:hover,a:focus,a:active {
	color: #CFA205;
}

h1 {
	font-family: "Josefin Sans";
	font-size: 100px;
}

#container
{ 	 
	box-shadow: 1px 1px 1px 1px ;

}
body {

	   color: white;
	background-color: white;
	opacity: 1.5;
	width: 1024px;
	height: 100%;
	border: 10px;
	margin-left: 150px;
	padding: 60px 56px 500px 56px;
}


.columns {
			-webkit-columns: 3;
			-moz-columns: 3;
			columns: 3;
			width: 900px;
			height: 675px;
			margin-left: 70px;
}
	
img
{
width: 260px;
height: 190px;
margin-left: 50px;
margin-right: 50px;
margin-top: 10px;
margin-left: 20px;
}



	
p {
			color: #333;
			padding: 5px;
			background: beige;
			font-family:"Bitter" ;
			font-size: 14px;
			text-align: center;
}
h5

{
 font-family: "Josefin Sans";
 color: black;
 font-size: 18px;
 text-align: center;
} 

h3

{
 	font-family: "Josefin Sans";
	color:black;
	font-size: 20px;
	text-align: center;
	margin-top: 545px;
	margin-bottom: 200px;
	margin-left:200px;
	margin-right: 200px;
}
			padding: 10px;
			margin: 0;
			background: beige;
}

 


